.vs/finalProject/FileContentIndex/6e7edbaa-1c20-4d45-a8a1-eb95b9a54e71.vsidx
.vs/finalProject/v17/.wsuo
.vs/finalProject/v17/Browse.VC.db
.vs/finalProject/v17/Browse.VC.db-shm
.vs/finalProject/v17/Browse.VC.db-wal
.vs/finalProject/v17/Browse.VC.opendb
.vs/finalProject/v17/ipch/AutoPCH/3a473b18de4e2ff7/L3_FSMMAIN.ipch
.vs/finalProject/v17/ipch/AutoPCH/3b750aab9ddf34d8/L2_FSMMAIN.ipch
.vs/finalProject/v17/ipch/AutoPCH/ff0720ca97e0343b/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
BUILD/L2_FSMevent.o
BUILD/L2_FSMmain.o
BUILD/L2_LLinterface.o
BUILD/L2_msg.o
BUILD/L2_timer.o
BUILD/L3_FSMevent.o
BUILD/L3_FSMmain.o
BUILD/L3_LLinterface.o
BUILD/L3_msg.o
BUILD/L3_timer.o
BUILD/main.o
BUILD/myProtocol.bin
BUILD/myProtocol.elf
BUILD/myProtocol.hex
.vs/finalProject/FileContentIndex/98b39e65-3cdb-4429-ae33-fdba4cf28ffe.vsidx
