.vs/finalProject/FileContentIndex/6e7edbaa-1c20-4d45-a8a1-eb95b9a54e71.vsidx
.vs/finalProject/v17/.wsuo
.vs/finalProject/v17/Browse.VC.db
.vs/finalProject/v17/Browse.VC.db-shm
.vs/finalProject/v17/Browse.VC.db-wal
.vs/finalProject/v17/Browse.VC.opendb
.vs/finalProject/v17/ipch/AutoPCH/3a473b18de4e2ff7/L3_FSMMAIN.ipch
.vs/finalProject/v17/ipch/AutoPCH/3b750aab9ddf34d8/L2_FSMMAIN.ipch
.vs/finalProject/v17/ipch/AutoPCH/ff0720ca97e0343b/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
BUILD/L2_FSMevent.o
BUILD/L2_FSMmain.o
BUILD/L2_LLinterface.o
BUILD/L2_msg.o
BUILD/L2_timer.o
BUILD/L3_FSMevent.o
BUILD/L3_FSMmain.o
BUILD/L3_LLinterface.o
BUILD/L3_msg.o
BUILD/L3_timer.o
BUILD/main.o
BUILD/myProtocol.bin
BUILD/myProtocol.elf
BUILD/myProtocol.hex
.vs/finalProject/FileContentIndex/98b39e65-3cdb-4429-ae33-fdba4cf28ffe.vsidx
.vs/finalProject/FileContentIndex/c11e890b-dae4-4d1a-a0c1-78692b002fcb.vsidx
.vs/finalProject/FileContentIndex/424fdea6-a0c9-4f0f-855b-347b4e767eaa.vsidx
.vs/finalProject/FileContentIndex/aa121511-83a4-46fd-bb01-7fdf658b8997.vsidx
.vs/finalProject/FileContentIndex/7bf43f1d-3c54-49b5-99c2-3dab1faf6bad.vsidx
.vs/finalProject/FileContentIndex/adce9131-2975-42cb-a0e7-7e25cdc14cc5.vsidx
.vs/finalProject/FileContentIndex/8d4bce57-ba83-4ac5-8d4d-0550954af19f.vsidx
.vs/finalProject/FileContentIndex/466e1eb3-9ee2-4bb5-8fbd-0e5230dbddd2.vsidx
.vs/slnx.sqlite-journal
.vs/finalProject/v17/ipch/AutoPCH/b55e9ad03259d523/L3_LLINTERFACE.ipch
